.der-button{
    border: 0px solid #ffffff;
    margin: 0px;
    min-width: 40px;
    cursor: pointer;
    text-align: center;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.der-button--default{
    color: #606266;
    background-color: #ffffff;
}
.der-button--primary{
    color: #ffffff;
    background-color: #409eff;
}
.der-button--success{
    color: #ffffff;
    background-color: #67c23a;
}
.der-button--info{
    color: #ffffff;
    background-color: #909399;
}
.der-button--warning{
    color: #ffffff;
    background-color: #e6a23c;
}
.der-button--danger{
    color: #ffffff;
    background-color: #f56c6c;
}
.der-button--medium{
    min-height: 36px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.der-button--small{
    min-height: 32px;
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.der-button--mini{
    min-height: 28px;
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.is-disabled{
    opacity: .5;
    cursor: not-allowed; 
}